<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/report.css"/>
    <title>Report O-LLN</title>
</head>

<body class="container-fluid">
<div class="row justify-content-center align-items-center">
    <h1>Soumettre un accident</h1>
    <div class="row justify-content-center align-items-center" id="rectangle">
        <div class="row justify-content-center align-items-center" id="rectangle2">
            <div class="row justify-content-center align-items-center">
                <form class="text-center" action="../postReport" method="post">
                    <label for="accident"></label>
                    <input type="text" id="accident" name="Accident" placeholder="Details de l'accident"/>
                    <label for="localization"></label>
                    <input type="text" id="localization" name="Localization" placeholder="Localisation"/>
                    <input  class="imgInput" type="file" name="image" accept="image/*"/>
                    <input class="myBtn btn btn-danger btn-lg" type="submit" value="Soumettre">
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>