p{
    margin: 0;
    padding: 0;
}

#reports{
    height: 100%;
    padding-top: 50px;
}

.report-container{
    display: flex;
    width: 80%;
    height: 30vh;
    min-height: 150px;
    color: white;
    margin-bottom: 30px;
    background-color: rgba(135,206,250, 0.2);
    border: 3px solid #244478;
    border-radius: 30px;
}

.container-left{
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    text-align: center;
}

.container-right{
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    text-align: center;
    padding-right: 10%;
}

.image{
    max-width: 50%;
    max-height: 60%;
    border-radius: 15px;
    margin-top: 15px;
}

.author{
    padding-bottom: 10px;
}

.description{
    overflow-y: auto;
    max-height: 65%;
}

.description::-webkit-scrollbar {
    width: 5px;
}
 
.description::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}
 
.description::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

@media(max-width: 410px){
    .report-container{
        display: block;
        min-height: 300px;
        min-width: 90%;
    }

    .container-left{
        min-width: 100%;
        height: 50%;
        text-align: center;
    }

    .container-right{
        min-width: 100%;
        height: 50%;
        text-align: center;
        padding: 0 10px 0 10px;
        margin: 0;
    }
    .image{
        max-height: 45%;
    }
}


