h1{
    color: white;
    margin-left: 46vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: #4D4D4D;
    background-size: cover;
    background-image: url(../images/lln_place_unif_noir.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form{
    width:100%;
}

input[type=text], input[type=email], input[type=password]{
    min-width: 85%;
    min-height: 15%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: floralwhite;
    margin-bottom: 2%;
}

#rectangle{
    margin-top: 5vh;
    width: 80vw;
    height: 80vh;
    max-width: 800px;
    min-width: 300px;
    background-color: whitesmoke;
    border-radius: 25px;
}

#rectangle2{
    width: 95%;
    height: 95%;
    background-color: #244478;
    border-radius: 15px;
}

#rectangle3{
    width: 100%;
    height: 2%;
    background-color: black;
}

#inner{
    width: 100%;
    height: 100%;
}

/*
    Button forgot password style because we wanted
    to do a complete button style our self
 */
@media(max-width: 617px){
    #fgPwd{
        font-size: .5rem;
        margin-left: 30%;
        margin-right: 30%;
    }

    #rectangle{
        min-height: 720px;
    }
    #rectangle2{
        min-height: 700px;
    }
    input[type=text], input[type=email], input[type=password]{
        margin-bottom: 5%;
    }

    @media(max-height: 750px){
        #rectangle{
            min-height: 550px;
        }
        #rectangle2{
            min-height: 530px;
        }
    }
}

@media(min-width: 618px){
    #fgPwd{
        font-size: .5rem;
        margin-left: 35%;
        margin-right: 35%;
    }
    @media(max-height: 580px) {
        #rectangle3{
            display: none;
        }
        #inner{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
        }
        #fgPwd{
            min-width: 150px;
            margin: 0;
        }
        #login{
            margin-top: 10%;
        }
        #login, #signIn{
            width: 40%;
            height: 100%;
        }
    }
    @media(max-height: 300px){
        #login{
            margin-top: 5%;
        }
    }
}

@media(min-width: 653px){
    #fgPwd{
        font-size: .7rem;
        margin-left: 38%;
        margin-right: 38%;
    }
}

@media(min-width: 912px){
    #fgPwd{
        font-size: 1rem;
    }
}

#fgPwd {
    margin-top: 5%;
    border: 1px solid white;
    background-color: #5a5e60;
    border-radius: 7px;
    padding: 1% 5px 1% 5px;
    text-align: center;
    color: whitesmoke;
}

#fgPwd:hover {
    border: 1px solid #46daff;
    background-color: rgba(90,94,96,0.73);
}

#fgPwd:active {
    border: 1px solid white;
    background-color: rgba(102,156,238,0.82);
}

/* Only for iphone 5/SE responsive rotated*/
@media(width: 568px)and (height: 320px){
    #rectangle{
        min-height: 300px;
        max-height: 300px;
    }
    #rectangle2{
        min-height: 280px;
        max-height: 280px;
    }
    #rectangle3{
        display: none;
    }
    #inner{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    #fgPwd{
        min-width: 150px;
        margin: 0;
    }
    #login{
        margin-top: 5%;
        margin-left: -10px;
    }
    #signIn{
        margin-left: 50px;
    }
    #login, #signIn{
        width: 40%;
        height: 100%;
    }
    #signIn input[type=text], #signIn input[type=email], #signIn input[type=password]{
        min-height: 20px;
        max-height: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }
    #signIn button{
        margin-top: 10px;
    }
}